@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="contact-section">
<h1>Contact Us</h1>
<p>We'd love to hear from you. Reach out with questions, project inquiries, or just to say hello!</p>
<form class="https://formsubmit.co/riley@theoryandpixel.com" method="POST">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text"> id="Name" name="Name" required />
</div>
    <label for="email">Email:</label>
    <input id="email" name="email" type="email" />

    <label for="message">Message:</label>
    <textarea id="message" rname+message ows="5" required></textarea>

    <button type="submit">Send</button>
</form>
</div>